<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>


          <div class="container">
            <!--<h2>商品詳細</h2><br>-->
              <div class="row">
                  <div class="col-xs-4">
                      <%= attachment_image_tag @item, :image, size: "300x300", fallback: "no_image.jpg"%><br>
                  </div>
              </div>
          </div>
          
          
          <div>
              <!--<%= image_tag @item.get_image %>-->
              <h5>商品名</h5>
              <h5>商品説明</h5>
              <h5>ジャンル</h5>
              <h5>税込価格</h5>
              <h5>販売ステータス</h5>
          </div>