<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>

          <div>
              <%= image_tag @item.get_image %>
              <h5>商品名</h5>
              <h5>商品説明</h5>
              <h5>ジャンル</h5>
              <h5>税込価格</h5>
              <h5>販売ステータス</h5>
          </div>