<div style="text-align: center">
      <p>
  		ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
     </p>
</div>
      <!-- 新着商品表示 -->
      <br>
      
  		<h4 class="recommendation"> 新着商品 </h4><br>
  		
  		<div class="pull-right">
  	    <%= link_to "全ての商品を見る＞", public_items_path %>
  	    </div>
 