<div class="container">
<br>
  <h2>ドリンク&フード</h2>
    

  <div class="row">
    <table class="table table-bordered cart-table">
      <thead class="thead-light">
        <tr style="background-color:#F5F5F5;">
          <th>商品名</th>
          <th>単価(税込)</th>
        </tr>
      </thead>
      <tbody>

        <% @cart_items.each do |cart_items| %>
        <tr>
          <td><%= cart_items.item.name %></td>
          <td><%= (cart_items.item.price * 1.1).to_i %></td>
          <td><%= (Item.find(cart_items.item_id).price * 1.1 * cart_items.amount).to_i  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <table class="table table-bordere">
      
    </table>
  </div>
</div>