<!--<h1>Public::Orders#complete</h1>-->
<!--<p>Find me in app/views/public/orders/complete.html.erb</p>-->

          <div class="container mt-5">
            <div class="row">
              <div class="mx-auto">
                <h3>注文あんがとね(^▽^)/</h3>
              </div>
            </div>
          </div>