<h1>Public::Items#index</h1>
<p>Find me in app/views/public/items/index.html.erb</p>


          <div class="container">
            <div class="row">
              
              
              
                        <div class="row">
                          <% @items.each do |item| %>
                            <div class="box" style="float:left; margin-right:20px;">
                              
                            </div>
                          <% end %>
                        </div>
              
              
              
            </div>
          </div>